.navigation {
  background-color: black;
  width: 100%;
  left: 0%;
}

.pull-left li {
  margin: -20px;
}

.navigation a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  color: white;
  padding: 30px;
}

.navigation li {
  display: inline;
}

.jumbotron {
  background-image:url(header_G.jpeg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.jumbotron .container {
  position: relative;
  top:220px;
  vertical-align: middle;
  text-align: center;
}

.jumbotron h1 {
  color: #fff;
}

.jumbotron h2 {
  color: #fff;
  font-size: 46px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  }

.jumbotron p {
  font-size: 20px;
  color: #fff;
  
}

.works {
  height: 200px;
  margin-bottom: 100px;
}

.works .container {
  text-align: center;
}

.works h2 {
  margin-top: 47px;
  padding-bottom: 40px;
}

.works p {
  margin-bottom: 50px;
}

.works ul {
  text-align: center;
  display: inline-block;
  float: none;
}

.works li {
  padding: 0px 20px 0px 20px;
  background-color: white;
}


.nav {
  background-color: white;
}

.space {
  height: 500px;
  


}

.space img {
  padding: 0;
  margin: 0;
}

.picture {
  height: 150px;
  background-color: white;
}

.neighborhood-guides {
 background-color:#efefef;
 border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}